@media (max-width:768px){
    .left-hero, .right-hero {
        display: none;
    }

    .banner-tab {
        background-image: url("../assets/tablet/image-footer.jpg");
        width: 794px;
        height: 303px;
        margin-top: 64px;
        position: relative;
        left: -26px;
    }

    .hero {
        justify-content: center;
    }

    .header-text {
        font-size: 48px;
    }

    .images {
        margin-left: 35px;
    }
    
    .image-item {
        width: 164px;
        height: 156px;
    }

    #path-number-2 {
        margin-top: 150px;
    }

    footer {
        height: 428px;
        background: 
        linear-gradient(
        rgba(77, 150, 168, 0.9), 
        rgba(77, 150, 168, 0.9)
        ),
        url("assets/tablet/image-footer.jpg") no-repeat center;
    }
    .footer-container {
        flex-direction: column;
        padding:0;
    }

    .footer-experience {
        width: 50%;
        text-align: center;
        margin:0;
        padding: 90px 0 50px 0;
    }

    .footer-stay-connected {
        width: 75%;
        text-align: center;
        margin:0;
        padding-bottom: 50px;
    }
}