/* MAIN */

html {
    font-family: 'Red Hat Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    /* cursor: pointer; */
}

body {
    background-color: #fafafa;
    text-align: center;
}

/*------------
    HEADER
-------------*/

header {
    padding-top: 66px;
}

/*--- LOGO ---*/

.logo {
    display: block;
    margin: 0 auto;
    transition: all 1s;
}

.logo:hover {
    cursor: pointer;
}

/* HERO IMAGES */

.hero-img {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.left-hero {
    height: 150px;
    width: 208px;
    max-height: 815px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -20px 0px;
}

.right-hero{
    height: 153px;
    width: 212px;
    max-height: 820px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0px;
}

/* TITLE */
h1 {
    width: 327px;
    text-align: center;
    color: #28283D;
    font-size: 51px;
    line-height: 60px;
    margin: 0 auto;
    font-weight: 900;
    margin-top: 51px;
}

/* INFORMATION */

.info {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 440px;
    text-align: center;
    color: #87879D;
}

/*------------- 
    BUTTONS 
--------------*/

.btn-download {
    color:#ffff;
    border: none;
    font-size: 16px;
    padding: 16px 40px 16px 40px;
    background-color: #4D96A9;
    border-radius: 29px;
    font-style: normal;
    font-weight: 900;
    cursor: pointer;
    margin-right: 8px;
}

.btn-download:hover {
    background-color: #71C0D4;
}

.btn-download > span {
    color:#8FE3F9;
}

.info-btn {
    color:#ffff;
    border: none;
    font-size: 16px;
    padding: 16px 29px 16px 29px;
    background-color: #855FB1;
    border-radius: 29px;
    font-style: normal;
    font-weight: 900;
    cursor: pointer;
    margin-left: 8px;
}

.info-btn:hover {
    background-color: #B18BDD;
}

/*------ SECTION 01 ------*/
.st-line {
    margin: 0 auto;
    margin-top: 64px;
    width: 1px;
    height: 84px;
    mix-blend-mode: normal;
    background-color: #86869c;
    opacity: 0.25;
}

/*--- BUTTON ---*/
.num-btn {
    width: 55px;
    height: 55px;
    border-radius: 29px;
    border: 1px solid #86869c;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: #86869c;;
    background-color: #fafafa;
}

/*--- IMAGES ---*/
.images {
    margin: 0 auto;
    margin-top: 40px;
    width: 375px;
    height: 312px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
}

.img-item {
    height: 150px;
    width: 142px;
    border-radius: 5px;
}

.images {
    background-size: cover;
}

.sec-info {
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
    width: 327px;
}

.title-info {
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    font-size: 16px;
    text-transform: uppercase;
    color: #4D96A9;
}

.smarter-meet {
    margin-top: 50px;
    font-weight: 900;
    line-height: 44px;
    font-size: 40px;
    color:#28283D;
}

.send-mesgs {
    margin-top: 35px;
    text-align: center;
    color: #87879D;
    font-size: 16px;
    font-weight: medium;
    line-height: 26px;
}

/* FOOTER */
footer {
    background: 
    linear-gradient(
      rgba(77, 150, 168, 0.9), 
      rgba(77, 150, 168, 0.9)
    ),
    url("../assets/desktop/image-footer.jpg") no-repeat center;
    height: 308px;
    
}
.footer-container {
    display: flex;
    padding: 110px 0 100px 0;
    justify-content: center;
    align-items: center;
}

.footer-experience {
    font-size: 40px;
    font-weight: 900;
    color: #FAFAFA;
    line-height: 44px;
    margin-right: 80px;
    width: 20%;

}

.footer-stay-connected {
    font-size: 18px;
    width: 20%;
    color: #FAFAFA;
    font-weight: 500;
    line-height: 26px;
    margin-right: 100px;
}

#footer-button-download {
    background-color: #855FB1;
    width: 193px;
    height: 58px;
    border-radius: 29px;
    border: none;
    cursor: pointer;
    color: #FAFAFA;
    font-weight: 900;
}
#footer-button-download > span {
    color: #D9B8FF;
    
}

#footer-button-download:hover {
    background-color: #B18BDD;
}

/*----------------- 
    MEDIA QUERIES 
------------------*/

/* MEDIA QUERY FOR HERO IMAGES */
@media (min-width: 768px) {
    .left-hero {
        left: -32px;
    }
    
    .left-hero,
    .right-hero{
        width: 394px;
        height:303px;
    }

    .hero-img{
        justify-content: space-between;
        align-content: space-between;
        align-items: space-between;
        
    }
}

@media (min-width: 1200px) {
    .left-hero,
    .right-hero{
        width: 394px;
        height:303px;
        position: absolute;
    }

    .right-hero{
        right: 0;
    }
}

/* MEDIA QUERY FOR TITLE */
@media (min-width: 768px) {
    h1 {
        font-size: 42px;
        line-height: 42px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 51px;
        line-height: 58px;
        width: 445px;
        margin-top: 38px;
    }
}

/* MEDIA QUERY FOR INFORMATION */
@media (min-width: 768px) {
    .info {
        width: 457px;
    }
}

@media (min-width: 1200px) {
    .info {
        font-size: 17px;
        width: 530px;
        margin-top: 30px;
    }

    .hero {
        margin-top: 60px;
    }
}

/* MEDIA QUERY FOR BUTTONS */
@media (min-width: 768px) {
    .info-btn {
        margin-left: 25px;
        display: inline;
    }
}

@media (min-width: 1200px) {
    .btn,
    .btn-download,
    .info-btn{
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

/* MEDIA QUERIES FOR IMAGES */
@media (min-width: 768px){
    .images{
        margin-top: 95px;
        width: 90vw;
        height: auto;
    }

    .image-item{
        width: 24%;
        height: 156px;
        border-radius: 5px;
    }
}

@media (min-width: 1200px){
    .images{
        width: 1400px;
        margin-bottom: 80px;
    }
    .image-item{
        width: 23%;
        height: 240px;
        border-radius: 5px;
    }
}

/* MEDIA QUERIES FOR INFORMATION SECTION */
@media (min-width: 1200px){
    .sec-info {
        width: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .smarter-meet {
        font-size: 40px;
        line-height: 46px;
        width: 450px;
    }
    .send-mesgs {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .images, .sec-info h2 {
        width: 85%;
        font-size: 51.2px;
    }
}

@media (max-width: 1199px) {
    .images, .sec-info, .send-mesgs {
        width: 92%;
    }
}

@media (max-width: 767px) {
    .images, .sec-info, .send-mesgs {
        width: 70%;
    }
}

/* MEDIA QUERY FOR FOOTER */
